<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
</head>
<body>
    xxxx
    <ul id="cate_box" class="if">
        {% for type in type_list %}
        <li>
            <h3><a href="#">{{type.type}}</a></h3>
            <p>
                {% for name in name_list %}
                    {% if name.type == type.type %}
                    <span>
                        {{name.name}}
                    </span>
                    {% endif %}
                {% endfor %}
            </p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
